table.tic-tac-toe {
	border: 2px solid black;
	border-collapse: collapse;
}

.tic-tac-toe td {
	border: 1px solid black;
	cursor: crosshair;
	height: 50px;
	width: 50px;
}

.tic-tac-toe .o:after {
	content: "o";
	display: block;
	text-align: center;
	cursor: default;
}

.tic-tac-toe .x:after {
	content: "x";
	display: block;
	text-align: center;
}

.tic-tac-toe .o {
	background: #8f8;
}

.tic-tac-toe .x {
	background: #f88;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.content-o:after {
	content: "O";
}

.content-x:after {
	content: "X";
}

.square {
    width: 100%;
    /*padding-bottom: 100%;*/
    overflow:hidden;
}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
